/* Normalize line height */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections */

/* Remove default margin */

body {
  margin: 0;
}

/* Normalize main */

main {
  display: block;
}

/* Normalize h1 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content */

/* Normalize hr */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Normalize pre */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics */

/* Normalize link focus */

a {
  background-color: transparent;
}

/* Normalize abbr */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/* Normalize bold */

b,
strong {
  font-weight: bolder;
}

/* Normalize code */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Normalize small */

small {
  font-size: 80%;
}

/* Normalize sub/sup */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */

/* Normalize image links */

img {
  border-style: none;
}

/* Forms */

/* Normalize form font */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/* Normalize button overflow */

button,
input {
  /* 1 */
  overflow: visible;
}

/* Normalize button text */

button,
select {
  /* 1 */
  text-transform: none;
}

/* Normalize button appearance */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* Remove button inner focus */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore button focus */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Normalize fieldset */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/* Normalize legend */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/* Normalize progress */

progress {
  vertical-align: baseline;
}

/* Normalize textarea */

textarea {
  overflow: auto;
}

/* Normalize checkboxes/radios */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* Normalize number input */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* Normalize search */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/* Remove search decoration */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Normalize file upload */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive */

/* Normalize details */

details {
  display: block;
}

/* Normalize summary */

summary {
  display: list-item;
}

/* Misc */

/* Normalize template */

template {
  display: none;
}

/* Normalize hidden */

[hidden] {
  display: none;
}